resources/kundservice_PrenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kundservice.net/prenstatusws/prenservice.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.kundservice.net/prenstatusws/prenservice.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kundservice.net/prenstatusws/prenservice.asmx">
      <s:element name="GetSubscriberStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="smno" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubscriberStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubscriberStatusResult" type="tns:SubscriberStatusDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SubscriberStatusDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="product" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="smno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="tempid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="fname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="aname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sadr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pplace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ccode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phonefax1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phonefax2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleInBit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSubscriberStatusByTempId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tempid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubscriberStatusByTempIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubscriberStatusByTempIdResult" type="tns:SubscriberStatusDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNTUserIdFromPoemUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ntUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNTUserIdFromPoemUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getNTUserIdFromPoemUserResult" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSubscriberStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubscriberStatus" />
  </wsdl:message>
  <wsdl:message name="GetSubscriberStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubscriberStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubscriberStatusByTempIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubscriberStatusByTempId" />
  </wsdl:message>
  <wsdl:message name="GetSubscriberStatusByTempIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubscriberStatusByTempIdResponse" />
  </wsdl:message>
  <wsdl:message name="getNTUserIdFromPoemUserSoapIn">
    <wsdl:part name="parameters" element="tns:getNTUserIdFromPoemUser" />
  </wsdl:message>
  <wsdl:message name="getNTUserIdFromPoemUserSoapOut">
    <wsdl:part name="parameters" element="tns:getNTUserIdFromPoemUserResponse" />
  </wsdl:message>
  <wsdl:portType name="PrenServiceSoap">
    <wsdl:operation name="GetSubscriberStatus">
      <wsdl:input message="tns:GetSubscriberStatusSoapIn" />
      <wsdl:output message="tns:GetSubscriberStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberStatusByTempId">
      <wsdl:input message="tns:GetSubscriberStatusByTempIdSoapIn" />
      <wsdl:output message="tns:GetSubscriberStatusByTempIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNTUserIdFromPoemUser">
      <wsdl:input message="tns:getNTUserIdFromPoemUserSoapIn" />
      <wsdl:output message="tns:getNTUserIdFromPoemUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrenServiceSoap" type="tns:PrenServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSubscriberStatus">
      <soap:operation soapAction="http://www.kundservice.net/prenstatusws/prenservice.asmx/GetSubscriberStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberStatusByTempId">
      <soap:operation soapAction="http://www.kundservice.net/prenstatusws/prenservice.asmx/GetSubscriberStatusByTempId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNTUserIdFromPoemUser">
      <soap:operation soapAction="http://www.kundservice.net/prenstatusws/prenservice.asmx/getNTUserIdFromPoemUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PrenServiceSoap12" type="tns:PrenServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSubscriberStatus">
      <soap12:operation soapAction="http://www.kundservice.net/prenstatusws/prenservice.asmx/GetSubscriberStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberStatusByTempId">
      <soap12:operation soapAction="http://www.kundservice.net/prenstatusws/prenservice.asmx/GetSubscriberStatusByTempId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNTUserIdFromPoemUser">
      <soap12:operation soapAction="http://www.kundservice.net/prenstatusws/prenservice.asmx/getNTUserIdFromPoemUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrenService">
    <wsdl:port name="PrenServiceSoap" binding="tns:PrenServiceSoap">
      <soap:address location="https://www.kundservice.net/prenstatusws/prenservice.asmx" />
    </wsdl:port>
    <wsdl:port name="PrenServiceSoap12" binding="tns:PrenServiceSoap12">
      <soap12:address location="https://www.kundservice.net/prenstatusws/prenservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>