resources/kundservice_authorization.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kundservice.net/prenstatusws/login" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.kundservice.net/prenstatusws/login" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kundservice.net/prenstatusws/login">
      <s:element name="LoginPublisher">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="publisher" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />

          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginPublisherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginPublisherResult" type="tns:UserStatusDto" />
          </s:sequence>
        </s:complexType>

      </s:element>
      <s:complexType name="UserStatusDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />

          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Autologin" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Products" type="tns:ArrayOfProductDto" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLoginOk" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductDto" nillable="true" type="tns:ProductDto" />

        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProductId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />

        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="LoginPublisherSoapIn">
    <wsdl:part name="parameters" element="tns:LoginPublisher" />
  </wsdl:message>
  <wsdl:message name="LoginPublisherSoapOut">
    <wsdl:part name="parameters" element="tns:LoginPublisherResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginServiceSoap">
    <wsdl:operation name="LoginPublisher">
      <wsdl:input message="tns:LoginPublisherSoapIn" />

      <wsdl:output message="tns:LoginPublisherSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginServiceSoap" type="tns:LoginServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginPublisher">
      <soap:operation soapAction="http://www.kundservice.net/prenstatusws/login/LoginPublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />

      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginServiceSoap12" type="tns:LoginServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginPublisher">

      <soap12:operation soapAction="http://www.kundservice.net/prenstatusws/login/LoginPublisher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="LoginService">
    <wsdl:port name="LoginServiceSoap" binding="tns:LoginServiceSoap">
      <soap:address location="https://www.kundservice.net/prenstatusws/LoginService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginServiceSoap12" binding="tns:LoginServiceSoap12">
      <soap12:address location="https://www.kundservice.net/prenstatusws/LoginService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>